@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato:400,400i,900,900i&display=swap');
body{
    background-color: #b7b7a430;
    color: #371d01;
    
    font-size: 20px;
    line-height: 2em;
    font-family: 'lato', serif;
    font-weight: 400;
}
h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
    line-height: 38px;
    color: #ff8707;
    font-weight: 500;
}
.presentation { font-weight: 400; }
.presentation em {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.7em;
    font-weight: 900;
}
h2 {
    font-style: italic;
    font-weight: 900;
}
p, ul{
    
    line-height: 2em;
}
img {
    border-radius: 15% 0 ;
}
